{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Buscar Álbum
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <br> <br> <br> 
    <form action="" method="get">
        
        <input type="text" name="titulo_album" id="titulo_album" placeholder="Buscar álbum">
        <br> <br> <br>
        <input type="submit" value="Buscar Álbum" class="btn btn-outline-light">

    </form>
    <br> <br> <br>
    {% if album %}

        {% for album in album %}
        <table class="table table-hover text-center">
                <tbody>
                    <th scope="col">Título Álbum</th>
                    <th scope="col">ID</th>
                    <tr class="table-info">
                        <td>  {{ album.titulo }}</td>
                        <td>  {{ album.id }}</td>
                <tbody>
            </table>
            {% endfor %}
            
    {% else %}

        <h3>No hay datos</h3>
    {% endif %}
</div>

{% endblock %}
